body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: -1000;
}

.star {
  --star-color: white;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
    tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 7.35em;
  --top-offset: 83.37vh;
  --fall-duration: 9.703s;
  --fall-delay: 5.455s;
}
.star:nth-child(2) {
  --star-tail-length: 5.72em;
  --top-offset: 27.8vh;
  --fall-duration: 7.367s;
  --fall-delay: 8.352s;
}
.star:nth-child(3) {
  --star-tail-length: 5.37em;
  --top-offset: 65.71vh;
  --fall-duration: 6.362s;
  --fall-delay: 1.183s;
}
.star:nth-child(4) {
  --star-tail-length: 5.63em;
  --top-offset: 62.47vh;
  --fall-duration: 8.507s;
  --fall-delay: 2.876s;
}
.star:nth-child(5) {
  --star-tail-length: 6.35em;
  --top-offset: 17.75vh;
  --fall-duration: 11.765s;
  --fall-delay: 1.219s;
}
.star:nth-child(6) {
  --star-tail-length: 6.19em;
  --top-offset: 27.38vh;
  --fall-duration: 9.664s;
  --fall-delay: 7.649s;
}
.star:nth-child(7) {
  --star-tail-length: 7.37em;
  --top-offset: 55.34vh;
  --fall-duration: 9.492s;
  --fall-delay: 8.296s;
}
.star:nth-child(8) {
  --star-tail-length: 7.03em;
  --top-offset: 12.22vh;
  --fall-duration: 6.552s;
  --fall-delay: 7.34s;
}
.star:nth-child(9) {
  --star-tail-length: 7.25em;
  --top-offset: 29.55vh;
  --fall-duration: 7.094s;
  --fall-delay: 3.574s;
}
.star:nth-child(10) {
  --star-tail-length: 5.32em;
  --top-offset: 26.15vh;
  --fall-duration: 9.905s;
  --fall-delay: 7.41s;
}
.star:nth-child(11) {
  --star-tail-length: 6.75em;
  --top-offset: 18.8vh;
  --fall-duration: 9.815s;
  --fall-delay: 1.455s;
}
.star:nth-child(12) {
  --star-tail-length: 6.32em;
  --top-offset: 76.43vh;
  --fall-duration: 8.176s;
  --fall-delay: 3.446s;
}
.star:nth-child(13) {
  --star-tail-length: 5.81em;
  --top-offset: 0.68vh;
  --fall-duration: 8.86s;
  --fall-delay: 1.864s;
}
.star:nth-child(14) {
  --star-tail-length: 5.35em;
  --top-offset: 54.54vh;
  --fall-duration: 9.769s;
  --fall-delay: 3.68s;
}
.star:nth-child(15) {
  --star-tail-length: 6.33em;
  --top-offset: 79.39vh;
  --fall-duration: 11.607s;
  --fall-delay: 8.126s;
}
.star:nth-child(16) {
  --star-tail-length: 5.42em;
  --top-offset: 51.21vh;
  --fall-duration: 10.942s;
  --fall-delay: 4.23s;
}
.star:nth-child(17) {
  --star-tail-length: 6.99em;
  --top-offset: 13.52vh;
  --fall-duration: 6.038s;
  --fall-delay: 5.841s;
}
.star:nth-child(18) {
  --star-tail-length: 6.23em;
  --top-offset: 3.74vh;
  --fall-duration: 11.669s;
  --fall-delay: 3.678s;
}
.star:nth-child(19) {
  --star-tail-length: 7.25em;
  --top-offset: 74.18vh;
  --fall-duration: 7.226s;
  --fall-delay: 7.597s;
}
.star:nth-child(20) {
  --star-tail-length: 5.09em;
  --top-offset: 47.85vh;
  --fall-duration: 6.1s;
  --fall-delay: 2.905s;
}
.star:nth-child(21) {
  --star-tail-length: 6.88em;
  --top-offset: 2.37vh;
  --fall-duration: 9.698s;
  --fall-delay: 8.491s;
}
.star:nth-child(22) {
  --star-tail-length: 5.6em;
  --top-offset: 2.68vh;
  --fall-duration: 9.146s;
  --fall-delay: 2.549s;
}
.star:nth-child(23) {
  --star-tail-length: 6.69em;
  --top-offset: 87.48vh;
  --fall-duration: 8.241s;
  --fall-delay: 3.441s;
}
.star:nth-child(24) {
  --star-tail-length: 6.26em;
  --top-offset: 18.09vh;
  --fall-duration: 9.308s;
  --fall-delay: 8.864s;
}
.star:nth-child(25) {
  --star-tail-length: 6.45em;
  --top-offset: 34.65vh;
  --fall-duration: 9.649s;
  --fall-delay: 9.404s;
}
.star:nth-child(26) {
  --star-tail-length: 6.98em;
  --top-offset: 94.15vh;
  --fall-duration: 6.74s;
  --fall-delay: 9.239s;
}
.star:nth-child(27) {
  --star-tail-length: 6.26em;
  --top-offset: 2.84vh;
  --fall-duration: 11.58s;
  --fall-delay: 5.784s;
}
.star:nth-child(28) {
  --star-tail-length: 6.39em;
  --top-offset: 76.72vh;
  --fall-duration: 6.385s;
  --fall-delay: 6.271s;
}
.star:nth-child(29) {
  --star-tail-length: 5.27em;
  --top-offset: 51.98vh;
  --fall-duration: 6.239s;
  --fall-delay: 9.85s;
}
.star:nth-child(30) {
  --star-tail-length: 5.32em;
  --top-offset: 57.47vh;
  --fall-duration: 10.765s;
  --fall-delay: 2.168s;
}
.star:nth-child(31) {
  --star-tail-length: 5.43em;
  --top-offset: 76.91vh;
  --fall-duration: 7.434s;
  --fall-delay: 7.54s;
}
.star:nth-child(32) {
  --star-tail-length: 7.15em;
  --top-offset: 0.91vh;
  --fall-duration: 10.301s;
  --fall-delay: 8.713s;
}
.star:nth-child(33) {
  --star-tail-length: 5.28em;
  --top-offset: 87.48vh;
  --fall-duration: 9.372s;
  --fall-delay: 4.88s;
}
.star:nth-child(34) {
  --star-tail-length: 7.06em;
  --top-offset: 44.95vh;
  --fall-duration: 10.064s;
  --fall-delay: 3.883s;
}
.star:nth-child(35) {
  --star-tail-length: 7.07em;
  --top-offset: 32.59vh;
  --fall-duration: 7.495s;
  --fall-delay: 7.846s;
}
.star:nth-child(36) {
  --star-tail-length: 5.87em;
  --top-offset: 73.35vh;
  --fall-duration: 8.439s;
  --fall-delay: 3.609s;
}
.star:nth-child(37) {
  --star-tail-length: 5em;
  --top-offset: 12.17vh;
  --fall-duration: 9.337s;
  --fall-delay: 1.808s;
}
.star:nth-child(38) {
  --star-tail-length: 6.87em;
  --top-offset: 77.58vh;
  --fall-duration: 6.667s;
  --fall-delay: 3.055s;
}
.star:nth-child(39) {
  --star-tail-length: 6.47em;
  --top-offset: 61.51vh;
  --fall-duration: 11.858s;
  --fall-delay: 3.337s;
}
.star:nth-child(40) {
  --star-tail-length: 7.26em;
  --top-offset: 79.52vh;
  --fall-duration: 9.584s;
  --fall-delay: 3.167s;
}
.star:nth-child(41) {
  --star-tail-length: 7.42em;
  --top-offset: 80.05vh;
  --fall-duration: 8.56s;
  --fall-delay: 2.844s;
}
.star:nth-child(42) {
  --star-tail-length: 7.37em;
  --top-offset: 48.21vh;
  --fall-duration: 8.149s;
  --fall-delay: 2.664s;
}
.star:nth-child(43) {
  --star-tail-length: 5.29em;
  --top-offset: 89.24vh;
  --fall-duration: 8.31s;
  --fall-delay: 9.511s;
}
.star:nth-child(44) {
  --star-tail-length: 5.08em;
  --top-offset: 66.06vh;
  --fall-duration: 11.632s;
  --fall-delay: 2.908s;
}
.star:nth-child(45) {
  --star-tail-length: 6.2em;
  --top-offset: 14.7vh;
  --fall-duration: 11.642s;
  --fall-delay: 0.657s;
}
.star:nth-child(46) {
  --star-tail-length: 6.09em;
  --top-offset: 11.14vh;
  --fall-duration: 11.481s;
  --fall-delay: 0.107s;
}
.star:nth-child(47) {
  --star-tail-length: 5.85em;
  --top-offset: 76.7vh;
  --fall-duration: 11.296s;
  --fall-delay: 4.063s;
}
.star:nth-child(48) {
  --star-tail-length: 5.11em;
  --top-offset: 66.99vh;
  --fall-duration: 6.583s;
  --fall-delay: 8.936s;
}
.star:nth-child(49) {
  --star-tail-length: 6.83em;
  --top-offset: 50.34vh;
  --fall-duration: 10.072s;
  --fall-delay: 2.206s;
}
.star:nth-child(50) {
  --star-tail-length: 6.05em;
  --top-offset: 10.76vh;
  --fall-duration: 8.846s;
  --fall-delay: 6.389s;
}
.star::before,
.star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

/*# sourceMappingURL=styles.css.map */
