{% extends 'auth/authLayout.html' %} {% block content %}
<div class="w-[30%] h-[50%] mx-auto bg-transparent p-10 rounded-lg shadow-lg">
  <h2 class="text-3xl font-bold text-center text-green-600 lovelo-text mb-8">
    Maak een account
  </h2>
  <form method="POST" class="space-y-6">
    {% csrf_token %}
    <div class="space-y-4 justify-center align-items-center text-black">
      {% for field in form %}
      <div>
        <label for="{{ field.id_for_label }}" class="block text-green-600 font-semibold mb-1">
          {{ field.label }}
        </label>
        {{ field }} {% if field.errors %}
        <p class="text-red-500 text-sm mt-1">{{ field.errors }}</p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <button type="submit" class="w-full bg-green-600 hover:bg-green-700 text-white py-3 rounded-lg font-semibold transition duration-300">
      Registreer
    </button>
  </form>
  <p class="mt-6 text-center text-green-600 lovelo-text">
    Heb je al een account?
    <a href="{% url 'login' %}" class="text-green-700 hover:underline"
      >Log hier in</a
    >
  </p>
  {% if messages %}
  <div class="mt-4 text-red-500 text-center">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}
