{% extends 'layout.html' %}
{% block content %}
{% load static %}

<div class="bg-transparent p-2 bg-transparent w-[100%] h-[100%] slide-in" id="trending-div">
    <div class="bg-transparent w-[100%] h-[10%]">
        <h1 class="text-8xl text-left text-green-600 font-bold lovelo-text">Dashboard</h1>
        
    </div>

    <div class=" w-[100%] h-[90%] flex">
        <div class="bg-transparent p-12 w-[15%] h-[100%]">
            <ul class="justify-items-center">
                <button class="w-[150px] bg-transparent h-[50px] my-3 flex items-center justify-left p-2 rounded-xl cursor-pointer relative overflow-hidden transition-all duration-500 ease-in-out shadow-md hover:scale-105 hover:shadow-lg border-4 lovelo-text border-transparent hover:border-green-800 text-green-600">
                    Jou tokens
                </button>
                <button class="w-[150px] bg-transparent h-[50px] my-3 flex items-center justify-left p-2 rounded-xl cursor-pointer relative overflow-hidden transition-all duration-500 ease-in-out shadow-md hover:scale-105 hover:shadow-lg border-4 lovelo-text border-transparent hover:border-green-800 text-green-600">
                    Instellingen
                </button>
                <button class="w-[150px] bg-transparent h-[50px] my-3 flex items-center justify-left p-2 rounded-xl cursor-pointer relative overflow-hidden transition-all duration-500 ease-in-out shadow-md hover:scale-105 hover:shadow-lg border-4 lovelo-text border-transparent hover:border-green-800 text-green-600">
                    Instellingen
                </button>
                <button class="w-[150px] bg-transparent h-[50px] my-3 flex items-center justify-left p-2 rounded-xl cursor-pointer relative overflow-hidden transition-all duration-500 ease-in-out shadow-md hover:scale-105 hover:shadow-lg border-4 lovelo-text border-transparent hover:border-green-800 text-green-600">
                    Instellingen
                </button>
            </ul>
        </div>

        <div class="bg-transparent rounded-lg border border-green-600 mt-4 h-[100%] w-[85%]">

        </div>

    </div>
    
</div>
{% endblock %}
